.heading{
    font-size: 25px;
    width: 100%;
    ;
}
.note{
    font-size: 20px;
    color: crimson;
} 
body{
background-size: cover;
}
.button{
    font-size: 17px;
    margin-top:10px;
}
canvas{
    border-color: red;
    border-radius: 20px;
    box-shadow: 3px;
    margin-top: 10px;
}
.button1{
    font-size: 20px;
    width: 130px;
}
.button2{
    font-size: 20px;
    width: 130px;
}